<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
            <exclude>
                <directory>app/Console</directory>
                <directory>app/Events</directory>
                <directory>app/Exceptions</directory>
                <directory>app/Http/Middleware</directory>
                <directory>app/Providers</directory>
                <file>app/Domain/Model/Education/EnumRedicodiType.php</file>
                <file>app/Domain/Model/Identity/EnumGenderType.php</file>
                <file>app/Domain/Model/Identity/EnumStaffType.php</file>
                <file>app/Domain/Model/Evaluation/EnumEvaluationType.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
    </php>
</phpunit>
