De grafieken zijn een visuele weergave van de eigen leervorderingen per vak. De aangeduide punten geven de totaalpunten weer van december en juni.
In het 1e en 2e leerjaar zijn de punten vooral gebaseerd op basiskennis. Vanaf het 3e leerjaar gaat het om meer leerinhoudelijke kennis.
Daarom wordt vanaf het 3e leerjaar een nieuwe grafiek weergegeven (die loopt t.e.m. het 6e leerjaar).